.user-list-container {
    width: 100%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    color: black;
    /* Couleur du texte */
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    color: black;
    /* Assure que le titre est aussi en noir */
}

.user-list {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.user-header,
.user-item {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: black;
    /* Texte des utilisateurs en noir */
}

.user-header {
    font-weight: bold;
    background-color: #f4f4f4;
    color: #194b87 !important;
}

.user-item:last-child {
    border-bottom: none;
}

.user-item span {
    color: black;
    /* S'assure que toutes les cases sont bien en noir */
}
.user-list-container li {
    color: black;
}