.contentdiv {
  height: 98px;
  line-height: 78px;
  background: url("Capture_cleanup.PNG");
  background-position: top center;
  background-repeat: no-repeat;
}

.annuler {
  background: #ffffff;
  width: 640px;
  min-height: 250px;
  margin: 20px 10px;
  border-radius: 10px;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
}


